<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css” integrity=”sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
  crossorigin="anonymous"
/>
<h1>{{ title }}</h1>
<br />

<div class="container-fuid marco p-1 m-1">
  <form #miForm="ngForm" action="">
    <div class="form-group">
      <label for="codigo">Código: </label>
      <input
        type="text"
        class="form-control"
        name="codigo"
        ngModel
        #codigo="ngModel"
        #_codigo
        required
        minlength="3"
      />
    </div>
    <div
      *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)"
      class="alert alert-danger"
    >
      <!-- hay errores -->
      <div *ngIf="codigo.errors?.['required']" class="alert alert-danger">
        codigo requerido
      </div>

      <div *ngIf="codigo.errors?.['minlength']" class="alert alert-danger">
        Code must be at least 3 characters long.
      </div>
    </div>

    <div class="form-group">
      <label for="nombre">Nombre: </label>
      <input
        type="text"
        class="form-control"
        name="nombre"
        ngModel
        #nombre="ngModel"
        #_nombre
        required
        filtrar-caracteres
      />
    </div>
    <div
      *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
      class="alert alert-danger"
    >
      <!-- hay errores -->
      <div *ngIf="nombre.errors?.['required']" class="alert alert-danger">
        Name is required.
      </div>

      <!--
      <div *ngIf="nombre.errors?.['minlength']" class="alert alert-danger">
        Name must be at least 4 characters long.
      </div>
      -->

      <div *ngIf="nombre.errors?.['filtrarCaracteres']" class="alert alert-danger">
        Solo puede introducir letras de la A la Z en mayusculas.
      </div>
    </div>

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!miForm.form.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
<div class="container-fluid fondo p-1 m-1">
  <!-- Mostrar propiedades -->
  Codigo clases: <b>{{ _codigo.className }}</b
  ><br />
  Nombre clases: <b>{{ _nombre.className }}</b
  ><br />
  Codigo: <b>{{ codigo.value }}</b
  ><br />
  Nombre: <b>{{ nombre.value }}</b
  ><br />
  From : <b>{{ miForm.value | json }}</b
  ><br />
</div>
